*, ::before, ::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
  height: 100vh;
}

.grid {
  height: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 40vh auto auto;
  grid-template-areas:
    "hd hd hd hd hd hd"
    "nl main main main bra bra"
    "nl main main main brb brb";
}

.header {
  grid-area: hd;
  height: 40vh;
  background-image: url('img/origin.jpg');
  background-size: cover;
  background-position: center;
}

.nav-left {
  grid-area: nl;
  background-color: blue;
}

.content {
  grid-area: main;
  background-color: blueviolet;
}

.box-right.a {
  grid-area: bra;
  background-color: yellow;
}

.box-right.b {
  grid-area: brb;
  background-color: green;
}



.vertical-button {
    writing-mode: vertical-rl;
   
    white-space: nowrap;
    background-color: rgb(250,128,114);
    
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
  }
  .vb1{
    height: 180px;
    width: 40px;
  }
  .vb2{
    height: 220px;
    width: 40px;
  }
  
  .vertical-button span {
    display: block; 
    margin-bottom: 0.2em; 
  }
  .btn-container{
   position: absolute;
    right: 30px;
    display: flex; 
  }