<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/generalStyle.css">
    <link rel="stylesheet" href="../css/register_login.css">
</head>
<body>

  <div class="icon-home">
    <a href="../index.html"><img src="../img/icon-home.png" alt="home" data-title="Accueil" class="img-icon-home"></a>
  </div>

    <div class="connection-box">
        <form action="" method="POST" enctype="">      
          <h1>Connexion</h1>  
          <div class="connection-form">      
            <div class="inputs-section">
              <input type="text" id="phone-input" placeholder="Nickname">
              <input type="password" id="pwd" placeholder="Mot de passe">      
              <div class="button-row">
                <button type="submit">Connecter</button>
                <button type="submit">Annuler</button>
              </div>
            </div>
          </div>
        </form> 
    </div> 




    <script src="js/script.js"></script>
</body>
</html>