.pageUser{
  display: grid;
  height: 100%;
  grid-gap: 20px;
  grid-template-rows: 50px 1fr 1fr 1fr 1fr 50px;
  grid-template-areas:

  "A A A A A"
  ". D D D C"
  ". D D D C"
  ". D D D E"
  ". D D D E"
  "F F F F F";
}

.one {
  grid-area: A;
  background-color: aqua;
}
.three {
  grid-area: C;
  background-color: brown;
}
.four{
  grid-area: D;
  background-color: blueviolet;
}
.five{
  grid-area: E;
  background-color: yellow;
}
.footer{
  grid-area: F;
  background-color: green;
}

