.pageGrid{
  height: 100vh;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 3.5fr 1.5fr;
  grid-template-rows: repeat(10, 1fr);
}

.navbar {
  background-color: aqua;
  grid-area: 1/ 1/ 2/ 4/* Начало линии 1, начало столбца 1, конец линии 2, конец столбца 7 */
}

.nav-left {
  grid-area: 2/ 1/ 7/ 2;
  background-color: var(--color-bg);
  border-radius: 15px;
  margin-left: 20px;
  text-align: center;
}

/* MENU NAVIGATION */

.menu-navigation {
  list-style: none;
  font-size: 18px;
  line-height: 2.5em;
  font-family: 'Hiro';
}
.menu-navigation a{
  text-decoration: none;
  color: black;
}
.menu-navigation li:hover {
  background-color: azure;
  width: 100%;
}

.user-content {
  background-color: var(--color-second);
  grid-area: 2/ 2/ 10/ 3;
  border-radius: 15px;
}

.user-photo {
  background-color: brown;
  grid-area: 2/ 3/ 6/ 4;
  border-radius: 15px;
  margin-right: 20px;
}

.user-info {
  background-color: yellow;
  grid-area: 6/ 3/ 10/ 4;
  border-radius: 15px;
  margin-right: 20px;
}

.ft {
  background-color: green;
  grid-area: 10/ 1/ 11/ 4; 
}
