.pageUser{
  height: 100vh;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 3.5fr 1.5fr;
  grid-template-rows: repeat(10, 1fr);
}

.one {
  background-color: aqua;
  grid-area: 1/ 1/ 2/ 4/* Начало линии 1, начало столбца 1, конец линии 2, конец столбца 7 */
}

.nav-left {
  background-color: blue;
  grid-area: 2/ 1/ 7/ 2; 
}

.four {
  background-color: blueviolet;
  grid-area: 2/ 2/ 10/ 3; 
}

.three {
  background-color: brown;
  grid-area: 2/ 3/ 6/ 4; 
}

.five {
  background-color: yellow;
  grid-area: 6/ 3/ 10/ 4; 
}

.ft {
  background-color: green;
  grid-area: 10/ 1/ 11/ 4; 
}
