*, ::before, ::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
  font-family: 'Hiro';
  src: url('../fonts/Hiroshio.otf') format('truetype');
 
}
body{
  background-image: url('../img/img-fond.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
  height: 100vh;
}

/* FORMULAIRE D'INSCRIPTION */

.registration-form{
    background-color: blueviolet;
    width: 700px;
    height: 500px;
    display: flex;
  }
  
  .picture-box{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: aqua;
    overflow: hidden;
  }
  .picture-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }