{% extends 'base.html.twig' %}

{% block title %}Poésie{% endblock %}

{% block body %}

<h2>Poésie de nos utilisateurs</h1>

<div class="poem-container">
    <div class="left">colonne 1</div>
    <div class="poems">
        <div class="poems-cards">
            <div class="poem-card">
                <p>Прозрачный водопад</p>
                <p>Упала в светлую волну</p>
                <p>Сосновая игла.</p>
                <p class="autor">Bashoo</p>
            </div>
            <div class="hokku">Haïku</div>
        </div>
        <div class="poems-cards">
            <div class="poem-card">
                <p>Прозрачный водопад</p>
                <p>Упала в светлую волну</p>
                <p>Сосновая игла.</p>
                <p class="autor">Bashoo</p>
            </div>
            <div class="hokku">Haïku</div>
        </div>
        <div class="poems-cards">
            <div class="poem-card">
                <p>Прозрачный водопад</p>
                <p>Упала в светлую волну</p>
                <p>Сосновая игла.</p>
                <p class="autor">Bashoo</p>
            </div>
            <div class="hokku">Haïku</div>
        </div>
        <div class="poems-cards">
            <div class="poem-card">
                <p>Прозрачный водопад</p>
                <p>Упала в светлую волну</p>
                <p>Сосновая игла.</p>
                <p class="autor">Bashoo</p>
            </div>
            <div class="hokku">Haïku</div>
        </div>
    </div>
    <div class="empty">colonne vide</div>
</div>

{% endblock %}
