{% extends 'base.html.twig' %}

{% block title %}Poésie{% endblock %}

{% block body %}

<h1>Poésie de nos utilisateurs</h1>

<div class="poem-container">
    <div class="left">colonne 1</div>
    <div class="center">colonne 2</div>
    <div class="empty">colonne vide</div>
</div>

{% endblock %}
