{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

<body>

  <div class="icon-home">
    <a href="{{ path('app_index') }}"><img src="../img/icon-home.png" alt="home" data-title="Accueil" class="img-icon-home"></a>
  </div>

    <div class="connection-box">
        <form action="" method="POST" enctype="">      
          <h1>Connexion</h1>  
          <div class="connection-form">      
            <div class="inputs-section">
              <input type="text" id="phone-input" placeholder="Nickname">
              <input type="password" id="pwd" placeholder="Mot de passe">      
              <div class="button-row">
                <button type="submit">Connecter</button>
                <button type="submit">Annuler</button>
              </div>
            </div>
          </div>
        </form> 
    </div> 

</body>

{% endblock %}