
:root {
  --color-bg: #d9a4a486;
  --color-second: #ffffff8a;
  --color-btn: #205555de;
  --color-btn1: #A7C1C1;
}

*, ::before, ::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
font-family: 'Hiro';
src: url('../fonts/Hiroshio.otf') format('truetype');
}

body{
  background-image: url('../img/img-fond.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-family: Hiro;
  text-align: center;
  margin-bottom: 30px;
}
h2{
  font-family: Hiro;
}

/* HEADER */

.header {
  position: relative;
  z-index: 1;
  background-image: url('../img/origin.jpg');
  background-size: cover;
  background-position: center;
  padding: 30px;
}

.btn-container{
  position: absolute;
  top: 10px;
  right: 30px;
  display: flex; 
}

.vertical-button {
  font-family: Hiro;
  writing-mode: vertical-rl;
  text-orientation: upright;
  background-color: rgba(250, 128, 114, 0.829);
  color: white;
  text-decoration: none;
  border-radius: 10px;
  margin-left: 10px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}
.vb1{
  height: 180px;
}

.vb2{
  height: 220px;
}

/* Menu navigation */

nav ul{
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 18px;
  font-family: 'Hiro';
}
nav ul li a{
  text-decoration: none;
  color: black;
  background-color: var(--color-second);
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}

/* bar de recherche */

.search {
  position: relative;
  width: 300px;
  margin: 50px auto 0 auto;
  background: var(--color-second);
  border-radius: 20px;
}
.searchbar, .searchbtn {
  border: none;
  outline: none;
  background: transparent;
}
.searchbar {
  width: 100%;
  height: 40px;
  padding-left: 15px;
}
.searchbar::placeholder{
  font-style: italic;
}
.searchbtn {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.searchbtn:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c0bfbc;
}

/* PAGE ACCUIEL */

.grid {
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}

.content {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background-color: var(--color-second);
  border-radius: 15px;
}

.box-right {
  background-color: var(--color-second);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.box-right.a {
  grid-column: 3;
  grid-row: 1;
}
.box-right.b {
  grid-column: 3;
  grid-row: 2;
}

.ft{
  background-color: blueviolet;
}

/* CARDS */
  
.card {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 20px;
  flex-grow: 1;
}
  
.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 30px;
}
  
.card-content {
  flex-grow: 1;
}
  
.card-content h3 {
  margin: 0;
}
  
.card-content p {
  margin: 5px 0 0;
}
.card-content span{
  font-style: italic;
}

/* FORMULAIRE D'INSCRIPTION */

.registration-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.registration-form{
  background-color: var(--color-bg);
  border-radius: 5px;
  width: 720px;
  height: 500px;
  display: flex;
}
.picture-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 20px;
}

.picture-box {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: aqua;
  overflow: hidden;
  margin-bottom: 10px;
}
.picture-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#photo-input {
  margin-top: 10px;
}

/* partie droite */

.inputs-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.inputs-section input[type="text"],
.inputs-section input[type="date"],
.inputs-section input[type="password"] {
  width: 100%;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
 
.inputs-section button {
  width: 150px;
  height: 40px;
  background-color: var(--color-btn);
  color: var(--color-btn1);
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.inputs-section button:nth-child(2) {
  background-color: var(--color-btn1);
  color: var(--color-btn);
  margin-left: 20px;
}

.row {
  display: flex;
  gap: 10px;
}
.column {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.button-row {
  display: flex;
}

/* FORMULAIRE DE CONNEXION */

.connection-box{
display: flex;
justify-content: center;
align-items: center;
}
.connection-form{
background-color: var(--color-bg);
border-radius: 5px;
width: 360px;
height: 200px;
display: flex;
}

/* ICON HOME  */

.icon-home{

margin-top: 20px;
margin-left: 20px;
}


/* FOOTER */


/* POETRY */

.poem-container{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  gap: 20px;
  width: 100%;
}
.left{
background-color: red;
}
.poems{
  max-width: 1200px;
  /* background-color: var(--color-second); */
  display: flex;
  justify-content: space-evenly;
}
.poems-cards{
  display: flex;
  justify-content: center;
  align-content: center;
}
.poem-card{
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  line-height: 1.5rem;
}
.hokku{
  align-self: center;
  background-color: rgba(207, 43, 43, 0.829);
  color: white;
  padding: 5px;
  font-size: 12px;
  writing-mode: vertical-rl; /* Устанавливает вертикальное направление справа налево */
  text-orientation: upright; /* Выравнивает буквы по вертикали */
}
.autor{
  text-align: right;
}
