{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<body>
    <div class="grid">

    <!-- HEADER -->

        <div class="header">
            <div class="btn-container">
                <a type="submit" class="vertical-button vb1" href="{{ path('app_login') }}">
                    <span>C</span>
                    <span>o</span>
                    <span>n</span>
                    <span>n</span>
                    <span>e</span>
                    <span>x</span>
                    <span>i</span>
                    <span>o</span>
                    <span>n</span>
                </a>
                <a class="vertical-button vb2" href="{{ path('app_register') }}">
                    <span>I</span>
                    <span>n</span>
                    <span>s</span>
                    <span>c</span>
                    <span>r</span>
                    <span>i</span>
                    <span>p</span>
                    <span>t</span>
                    <span>i</span>
                    <span>o</span>
                    <span>n</span>
                </a>
            </div>
            
            <!-- search bar -->

            <form>
                <input type="text" name="search" class="searchbar" placeholder="Recherche...">
                <button type="submit" class="searchbtn"></button>
            </form>

        </div>

        <div class="img-fond"></div>

        <!-- MENU NAVIGATION -->

        <nav class="nav-left">
                <ul class="menu-navigation">
                    <li>
                        <a href="">Accueil</a>
                    </li>
                    <li>
                        <a href="">Poésie</a>
                    </li>
                    <li>
                        <a href="">Origami</a>
                    </li>
                    <li>
                        <a href="">Peinture</a>
                    </li>
                    <li>
                        <a href="">Photos</a>
                    </li>
                    <li>
                        <a href="">Vidéo</a>
                    </li>
                    <li>
                        <a href="">Forum</a>
                    </li>
                    <li>
                        <a href="">Contacts</a>
                    </li>
                </ul>
        </nav>

        <div class="content">3</div>

        <div class="box-right a">
            <div class="card">
                <img src="../frontend/img/japanese-lantern-g2ee533b7e_640.jpg" alt="">
                <div class="card-content">
                  <h3>Dernier post ajouté</h3>
                  <p>Description de la post</p>
                  <p>Posté par <span>Utilisateur1</span> le 10/05/23</p>
                </div>
            </div>
        </div>
        
        <div class="box-right b">
             <div class="card">
                <div class="card-content">
                  <h3>Derniers message du Forum</h3>
                  <a href="#"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, provident.</p></a>
                  <p>Posté par <span>Utilisateur1</span> le 10/05/23</p>
                </div>
            </div>
        </div>

        <footer class="ft">
            @ M
        </footer>
     
    </div>

</body>

  {% block javascripts %}
    <script src="https://kit.fontawesome.com/e5e7de9391.js" crossorigin="anonymous"></script>
    <script src="{{ 'js/script.js' }}"></script>
  {% endblock %}

{% endblock %}
